.MovieCard {
    display: flex;
    flex-direction: column;
    /*height: 830px;*/
    /*background-color: chocolate;*/
}

.mainInfo {
    display: flex;
    justify-content: flex-end;
    padding-top: 150px;
}

.img_style {
}

.title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.movieInfo {
    padding-top: 50px;
}