.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gainsboro;
    color: snow;
    height: 100px;
}

body.dark-mode .Header {
    background-color: #1e1e1e;
    color: #f1f1f1;
}


.Header a {
    text-decoration: none;
    color: snow;
    font-size: 35px;
}

.Header a:hover {
    color: cornflowerblue;
}

.Header a[class = 'active'] {
    color: coral;
}

h1 {
    color: deepskyblue;
}

