.Movie  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.Movie:hover {
    cursor: pointer;
    background-color: aliceblue;
}

